.title {
  font-size: 80px;
  font-weight: 300;
  margin: 0 auto 20px;
  line-height: 1em;
  width: max-content;
}

.todoWrapper {
  width: 100%;
  max-width: 650px;
  max-height: 400px;
}

.todo {
  --line-color: rgb(213 213 213);
  background-color: rgb(252, 252, 252);
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(126, 126, 126, 0.2);
  -moz-box-shadow: 0px 0px 15px 0px rgba(126, 126, 126, 0.2);
  box-shadow: 0px 0px 15px 0px rgba(126, 126, 126, 0.2);
  display: flex;
  flex-direction: column;
  color: var(--grey-color);

  max-width: 650px;
  width: 100%;
  /* height: 400px; */
  max-height: 400px;
  /* min-height: 400px; */
}

.header {
  /* height: 60px; */
  border-bottom: 1px solid var(--line-color);
  padding: 20px 16px;
  box-sizing: border-box;
  display: flex;
  gap: 25px;
}

.todoInput {
  flex-grow: 1;
}

.main {
  overflow: hidden;
  flex-grow: 0;
  height: 0;
}

.mainIsOpen {
  height: auto;
  flex-grow: 1;
  overflow-y: auto;
}

.footer {
  /* height: 34px; */
  font-size: 14px;
  padding: 10px 16px;
  border-top: 1px solid var(--line-color);
  display: flex;
  justify-content: space-between;
  /* margin-top: auto; */
}

.leftItems {}

.tabs {}

.tab {
  color: inherit;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 3px 4px;
}

.tabActive {
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  /* box-shadow: 1px 1px 15px 0px rgba(126, 126, 126, 0.2); */
}

.clearCompleted {
  color: inherit;
  background: transparent;
  border: none;
  cursor: pointer;
}