.button {
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

.isOpen {

}

.arrow {
  width: 20px;
  transform: rotate(180deg);
}

.arrowIsOpen {
  transform: rotate(0deg);
}